In [23]:
import datetime
def previous(date):
    try:
        date = datetime.datetime(date["year"], date['month'], date['day'])
    except:
        return "Invalid"
    def test(date2):
        if not (1 <= date2.month <= 12 and 1 <= date2.day <= 31 and 1900 <= date2.year <= 2015):
            return False
        return True

    if test(date):
        return date - datetime.timedelta(days=1)
    else:
        return "Invalid"


<h1>Day

1) day between 1 to 31 (both inclusive) valid

2) day more than 31 (31 excluded) invalid

3) day less than 1(1 not included) invalid

<h1>Month

4) month between 1 to 12 (both inclusive) valid

5) month more than 12 (12 excluded) invalid

6) month less than 1 (1 excluded) invalid

<h1>Year

7) year between 1900 to 2015 (both inclusive) valid

8) year more than 2015 (2015 excluded) invalid

9) year less than 1900 (1900 excluded) invalid

In [10]:
test0 = {
    "month": 1,
    "day": 1,
    "year": 1900,
}

previous(test0)

datetime.datetime(1899, 12, 31, 0, 0)

In [11]:
test1 = {
    "month": 2,
    "day": 30,
    "year": 2000,
}

previous(test1)

'Invalid'

link: [test_cases.csv](https://drive.google.com/file/d/1fw8QLmdGlbDVPDqmdjJ1jnlB7D2luN-K/view?usp=sharing)

In [32]:
!cat test_cases.csv

0,0,0,Invalid
0,0,1900,Invalid
0,0,2000,Invalid
0,0,2015,Invalid
0,0,2020,Invalid
0,1,0,Invalid
0,1,1900,Invalid
0,1,2000,Invalid
0,1,2015,Invalid
0,1,2020,Invalid
0,15,0,Invalid
0,15,1900,Invalid
0,15,2000,Invalid
0,15,2015,Invalid
0,15,2020,Invalid
0,31,0,Invalid
0,31,1900,Invalid
0,31,2000,Invalid
0,31,2015,Invalid
0,31,2020,Invalid
0,32,0,Invalid
0,32,1900,Invalid
0,32,2000,Invalid
0,32,2015,Invalid
0,32,2020,Invalid
1,0,0,Invalid
1,0,1900,Invalid
1,0,2000,Invalid
1,0,2015,Invalid
1,0,2020,Invalid
1,1,0,Invalid
1,1,1900,Valid
1,1,2000,Valid
1,1,2015,Valid
1,1,2020,Invalid
1,15,0,Invalid
1,15,1900,Valid
1,15,2000,Valid
1,15,2015,Valid
1,15,2020,Invalid
1,31,0,Invalid
1,31,1900,Valid
1,31,2000,Valid
1,31,2015,Valid
1,31,2020,Invalid
1,32,0,Invalid
1,32,1900,Invalid
1,32,2000,Invalid
1,32,2015,Invalid
1,32,2020,Invalid
6,0,0,Invalid
6,0,1900,Invalid
6,0,2000,Invalid
6,0,2015,Invalid
6,0,2020,Invalid
6,1,0,Invalid
6,1,1900,Valid
6,1,2000,Valid
6,1,2015,Valid
6,1,2020,Invalid
6,15,0,Invalid
6,15,1900,Valid
6,15,2000,Valid
6,15,2015,Valid
6,15,2020,Invalid
6,31,0,Invalid
6,31,1900,Invalid
6,31,2000,Invalid
6,31,2015,Invalid
6,31,2020,Invalid
6,32,0,Invalid
6,32,1900,Invalid
6,32,2000,Invalid
6,32,2015,Invalid
6,32,2020,Invalid
12,0,0,Invalid
12,0,1900,Invalid
12,0,2000,Invalid
12,0,2015,Invalid
12,0,2020,Invalid
12,1,0,Invalid
12,1,1900,Valid
12,1,2000,Valid
12,1,2015,Valid
12,1,2020,Invalid
12,15,0,Invalid
12,15,1900,Valid
12,15,2000,Valid
12,15,2015,Valid
12,15,2020,Invalid
12,31,0,Invalid
12,31,1900,Valid
12,31,2000,Valid
12,31,2015,Valid
12,31,2020,Invalid
12,32,0,Invalid
12,32,1900,Invalid
12,32,2000,Invalid
12,32,2015,Invalid
12,32,2020,Invalid
13,0,0,Invalid
13,0,1900,Invalid
13,0,2000,Invalid
13,0,2015,Invalid
13,0,2020,Invalid
13,1,0,Invalid
13,1,1900,Invalid
13,1,2000,Invalid
13,1,2015,Invalid
13,1,2020,Invalid
13,15,0,Invalid
13,15,1900,Invalid
13,15,2000,Invalid
13,15,2015,Invalid
13,15,2020,Invalid
13,31,0,Invalid
13,31,1900,Invalid
13,31,2000,Invalid
13,31,2015,Invalid
13,31,2020,Invalid
13,32,0,Invalid
13,32,1900,Invalid
13,32,2000,Invalid
13,32,2015,Invalid
13,32,2020,Invalid
2,30,2000,Invalid
2,29,1999,Invalid

In [34]:
import pandas as pd
df = pd.read_csv('/content/test_cases.csv', header=None)
df2 = pd.DataFrame()
df2['month'] = df[0]
df2['day'] = df[1]
df2['year'] = df[2]
df2['Invalid'] = df[3]
df2.head(20)
test_query_obj = {
    "day": None,
    "month": None,
    "year": None
}
adj_mat = [
           [0, 0],
           [0, 0],
]
incorrect_11 = 0
for i in range(len(df2.day)):
    test_i = df2.iloc[i]
    test_query_obj["day"] = test_i.day
    test_query_obj["month"] = test_i.month
    test_query_obj["year"] = test_i.year
    ans = previous(test_query_obj)
    if ans == "Invalid" and test_i.Invalid == "Invalid":
        print("Correct 1", i, ans, test_i, test_query_obj, end="\n\n", sep="\n")
        adj_mat[0][0] += 1
        continue
    if test_i.Invalid == "Invalid":
        print("Problem 1", i, ans, test_i, test_query_obj, end="\n\n", sep="\n")
        adj_mat[0][1] += 1
        continue
    if test_i.Invalid != "Invalid" and ans == "Invalid":
        print("Problem 2", i, ans, test_i, test_query_obj, end="\n\n", sep="\n")
        adj_mat[1][0] += 1
        continue
    else:
        print("Correct 2", i, ans, test_i, test_query_obj, end="\n\n", sep="\n")
        adj_mat[1][1] += 1
        temp = datetime.datetime(
            test_query_obj["year"], 
            test_query_obj['month'], 
            test_query_obj['day']
            )
        if ans != (temp - datetime.timedelta(days=1)):
            print("False!!!!!!")
            incorrect_11 += 1
        continue
adj_mat, incorrect_11

Correct 1
0
Invalid
month            0
day              0
year             0
Invalid    Invalid
Name: 0, dtype: object
{'day': 0, 'month': 0, 'year': 0}

Correct 1
1
Invalid
month            0
day              0
year          1900
Invalid    Invalid
Name: 1, dtype: object
{'day': 0, 'month': 0, 'year': 1900}

Correct 1
2
Invalid
month            0
day              0
year          2000
Invalid    Invalid
Name: 2, dtype: object
{'day': 0, 'month': 0, 'year': 2000}

Correct 1
3
Invalid
month            0
day              0
year          2015
Invalid    Invalid
Name: 3, dtype: object
{'day': 0, 'month': 0, 'year': 2015}

Correct 1
4
Invalid
month            0
day              0
year          2020
Invalid    Invalid
Name: 4, dtype: object
{'day': 0, 'month': 0, 'year': 2020}

Correct 1
5
Invalid
month            0
day              1
year             0
Invalid    Invalid
Name: 5, dtype: object
{'day': 1, 'month': 0, 'year': 0}

Correct 1
6
Invalid
month            0
day              1
year          1900
Invalid    Invalid
Name: 6, dtype: object
{'day': 1, 'month': 0, 'year': 1900}

Correct 1
7
Invalid
month            0
day              1
year          2000
Invalid    Invalid
Name: 7, dtype: object
{'day': 1, 'month': 0, 'year': 2000}

Correct 1
8
Invalid
month            0
day              1
year          2015
Invalid    Invalid
Name: 8, dtype: object
{'day': 1, 'month': 0, 'year': 2015}

Correct 1
9
Invalid
month            0
day              1
year          2020
Invalid    Invalid
Name: 9, dtype: object
{'day': 1, 'month': 0, 'year': 2020}

Correct 1
10
Invalid
month            0
day             15
year             0
Invalid    Invalid
Name: 10, dtype: object
{'day': 15, 'month': 0, 'year': 0}

Correct 1
11
Invalid
month            0
day             15
year          1900
Invalid    Invalid
Name: 11, dtype: object
{'day': 15, 'month': 0, 'year': 1900}

Correct 1
12
Invalid
month            0
day             15
year          2000
Invalid    Invalid
Name: 12, dtype: object
{'day': 15, 'month': 0, 'year': 2000}

Correct 1
13
Invalid
month            0
day             15
year          2015
Invalid    Invalid
Name: 13, dtype: object
{'day': 15, 'month': 0, 'year': 2015}

Correct 1
14
Invalid
month            0
day             15
year          2020
Invalid    Invalid
Name: 14, dtype: object
{'day': 15, 'month': 0, 'year': 2020}

Correct 1
15
Invalid
month            0
day             31
year             0
Invalid    Invalid
Name: 15, dtype: object
{'day': 31, 'month': 0, 'year': 0}

Correct 1
16
Invalid
month            0
day             31
year          1900
Invalid    Invalid
Name: 16, dtype: object
{'day': 31, 'month': 0, 'year': 1900}

Correct 1
17
Invalid
month            0
day             31
year          2000
Invalid    Invalid
Name: 17, dtype: object
{'day': 31, 'month': 0, 'year': 2000}

Correct 1
18
Invalid
month            0
day             31
year          2015
Invalid    Invalid
Name: 18, dtype: object
{'day': 31, 'month': 0, 'year': 2015}

Correct 1
19
Invalid
month            0
day             31
year          2020
Invalid    Invalid
Name: 19, dtype: object
{'day': 31, 'month': 0, 'year': 2020}

Correct 1
20
Invalid
month            0
day             32
year             0
Invalid    Invalid
Name: 20, dtype: object
{'day': 32, 'month': 0, 'year': 0}

Correct 1
21
Invalid
month            0
day             32
year          1900
Invalid    Invalid
Name: 21, dtype: object
{'day': 32, 'month': 0, 'year': 1900}

Correct 1
22
Invalid
month            0
day             32
year          2000
Invalid    Invalid
Name: 22, dtype: object
{'day': 32, 'month': 0, 'year': 2000}

Correct 1
23
Invalid
month            0
day             32
year          2015
Invalid    Invalid
Name: 23, dtype: object
{'day': 32, 'month': 0, 'year': 2015}

Correct 1
24
Invalid
month            0
day             32
year          2020
Invalid    Invalid
Name: 24, dtype: object
{'day': 32, 'month': 0, 'year': 2020}

Correct 1
25
Invalid
month            1
day              0
year             0
Invalid    Invalid
Name: 25, dtype: object
{'day': 0, 'month': 1, 'year': 0}

Correct 1
26
Invalid
month            1
day              0
year          1900
Invalid    Invalid
Name: 26, dtype: object
{'day': 0, 'month': 1, 'year': 1900}

Correct 1
27
Invalid
month            1
day              0
year          2000
Invalid    Invalid
Name: 27, dtype: object
{'day': 0, 'month': 1, 'year': 2000}

Correct 1
28
Invalid
month            1
day              0
year          2015
Invalid    Invalid
Name: 28, dtype: object
{'day': 0, 'month': 1, 'year': 2015}

Correct 1
29
Invalid
month            1
day              0
year          2020
Invalid    Invalid
Name: 29, dtype: object
{'day': 0, 'month': 1, 'year': 2020}

Correct 1
30
Invalid
month            1
day              1
year             0
Invalid    Invalid
Name: 30, dtype: object
{'day': 1, 'month': 1, 'year': 0}

Correct 2
31
1899-12-31 00:00:00
month          1
day            1
year        1900
Invalid    Valid
Name: 31, dtype: object
{'day': 1, 'month': 1, 'year': 1900}

Correct 2
32
1999-12-31 00:00:00
month          1
day            1
year        2000
Invalid    Valid
Name: 32, dtype: object
{'day': 1, 'month': 1, 'year': 2000}

Correct 2
33
2014-12-31 00:00:00
month          1
day            1
year        2015
Invalid    Valid
Name: 33, dtype: object
{'day': 1, 'month': 1, 'year': 2015}

Correct 1
34
Invalid
month            1
day              1
year          2020
Invalid    Invalid
Name: 34, dtype: object
{'day': 1, 'month': 1, 'year': 2020}

Correct 1
35
Invalid
month            1
day             15
year             0
Invalid    Invalid
Name: 35, dtype: object
{'day': 15, 'month': 1, 'year': 0}

Correct 2
36
1900-01-14 00:00:00
month          1
day           15
year        1900
Invalid    Valid
Name: 36, dtype: object
{'day': 15, 'month': 1, 'year': 1900}

Correct 2
37
2000-01-14 00:00:00
month          1
day           15
year        2000
Invalid    Valid
Name: 37, dtype: object
{'day': 15, 'month': 1, 'year': 2000}

Correct 2
38
2015-01-14 00:00:00
month          1
day           15
year        2015
Invalid    Valid
Name: 38, dtype: object
{'day': 15, 'month': 1, 'year': 2015}

Correct 1
39
Invalid
month            1
day             15
year          2020
Invalid    Invalid
Name: 39, dtype: object
{'day': 15, 'month': 1, 'year': 2020}

Correct 1
40
Invalid
month            1
day             31
year             0
Invalid    Invalid
Name: 40, dtype: object
{'day': 31, 'month': 1, 'year': 0}

Correct 2
41
1900-01-30 00:00:00
month          1
day           31
year        1900
Invalid    Valid
Name: 41, dtype: object
{'day': 31, 'month': 1, 'year': 1900}

Correct 2
42
2000-01-30 00:00:00
month          1
day           31
year        2000
Invalid    Valid
Name: 42, dtype: object
{'day': 31, 'month': 1, 'year': 2000}

Correct 2
43
2015-01-30 00:00:00
month          1
day           31
year        2015
Invalid    Valid
Name: 43, dtype: object
{'day': 31, 'month': 1, 'year': 2015}

Correct 1
44
Invalid
month            1
day             31
year          2020
Invalid    Invalid
Name: 44, dtype: object
{'day': 31, 'month': 1, 'year': 2020}

Correct 1
45
Invalid
month            1
day             32
year             0
Invalid    Invalid
Name: 45, dtype: object
{'day': 32, 'month': 1, 'year': 0}

Correct 1
46
Invalid
month            1
day             32
year          1900
Invalid    Invalid
Name: 46, dtype: object
{'day': 32, 'month': 1, 'year': 1900}

Correct 1
47
Invalid
month            1
day             32
year          2000
Invalid    Invalid
Name: 47, dtype: object
{'day': 32, 'month': 1, 'year': 2000}

Correct 1
48
Invalid
month            1
day             32
year          2015
Invalid    Invalid
Name: 48, dtype: object
{'day': 32, 'month': 1, 'year': 2015}

Correct 1
49
Invalid
month            1
day             32
year          2020
Invalid    Invalid
Name: 49, dtype: object
{'day': 32, 'month': 1, 'year': 2020}

Correct 1
50
Invalid
month            6
day              0
year             0
Invalid    Invalid
Name: 50, dtype: object
{'day': 0, 'month': 6, 'year': 0}

Correct 1
51
Invalid
month            6
day              0
year          1900
Invalid    Invalid
Name: 51, dtype: object
{'day': 0, 'month': 6, 'year': 1900}

Correct 1
52
Invalid
month            6
day              0
year          2000
Invalid    Invalid
Name: 52, dtype: object
{'day': 0, 'month': 6, 'year': 2000}

Correct 1
53
Invalid
month            6
day              0
year          2015
Invalid    Invalid
Name: 53, dtype: object
{'day': 0, 'month': 6, 'year': 2015}

Correct 1
54
Invalid
month            6
day              0
year          2020
Invalid    Invalid
Name: 54, dtype: object
{'day': 0, 'month': 6, 'year': 2020}

Correct 1
55
Invalid
month            6
day              1
year             0
Invalid    Invalid
Name: 55, dtype: object
{'day': 1, 'month': 6, 'year': 0}

Correct 2
56
1900-05-31 00:00:00
month          6
day            1
year        1900
Invalid    Valid
Name: 56, dtype: object
{'day': 1, 'month': 6, 'year': 1900}

Correct 2
57
2000-05-31 00:00:00
month          6
day            1
year        2000
Invalid    Valid
Name: 57, dtype: object
{'day': 1, 'month': 6, 'year': 2000}

Correct 2
58
2015-05-31 00:00:00
month          6
day            1
year        2015
Invalid    Valid
Name: 58, dtype: object
{'day': 1, 'month': 6, 'year': 2015}

Correct 1
59
Invalid
month            6
day              1
year          2020
Invalid    Invalid
Name: 59, dtype: object
{'day': 1, 'month': 6, 'year': 2020}

Correct 1
60
Invalid
month            6
day             15
year             0
Invalid    Invalid
Name: 60, dtype: object
{'day': 15, 'month': 6, 'year': 0}

Correct 2
61
1900-06-14 00:00:00
month          6
day           15
year        1900
Invalid    Valid
Name: 61, dtype: object
{'day': 15, 'month': 6, 'year': 1900}

Correct 2
62
2000-06-14 00:00:00
month          6
day           15
year        2000
Invalid    Valid
Name: 62, dtype: object
{'day': 15, 'month': 6, 'year': 2000}

Correct 2
63
2015-06-14 00:00:00
month          6
day           15
year        2015
Invalid    Valid
Name: 63, dtype: object
{'day': 15, 'month': 6, 'year': 2015}

Correct 1
64
Invalid
month            6
day             15
year          2020
Invalid    Invalid
Name: 64, dtype: object
{'day': 15, 'month': 6, 'year': 2020}

Correct 1
65
Invalid
month            6
day             31
year             0
Invalid    Invalid
Name: 65, dtype: object
{'day': 31, 'month': 6, 'year': 0}

Correct 1
66
Invalid
month            6
day             31
year          1900
Invalid    Invalid
Name: 66, dtype: object
{'day': 31, 'month': 6, 'year': 1900}

Correct 1
67
Invalid
month            6
day             31
year          2000
Invalid    Invalid
Name: 67, dtype: object
{'day': 31, 'month': 6, 'year': 2000}

Correct 1
68
Invalid
month            6
day             31
year          2015
Invalid    Invalid
Name: 68, dtype: object
{'day': 31, 'month': 6, 'year': 2015}

Correct 1
69
Invalid
month            6
day             31
year          2020
Invalid    Invalid
Name: 69, dtype: object
{'day': 31, 'month': 6, 'year': 2020}

Correct 1
70
Invalid
month            6
day             32
year             0
Invalid    Invalid
Name: 70, dtype: object
{'day': 32, 'month': 6, 'year': 0}

Correct 1
71
Invalid
month            6
day             32
year          1900
Invalid    Invalid
Name: 71, dtype: object
{'day': 32, 'month': 6, 'year': 1900}

Correct 1
72
Invalid
month            6
day             32
year          2000
Invalid    Invalid
Name: 72, dtype: object
{'day': 32, 'month': 6, 'year': 2000}

Correct 1
73
Invalid
month            6
day             32
year          2015
Invalid    Invalid
Name: 73, dtype: object
{'day': 32, 'month': 6, 'year': 2015}

Correct 1
74
Invalid
month            6
day             32
year          2020
Invalid    Invalid
Name: 74, dtype: object
{'day': 32, 'month': 6, 'year': 2020}

Correct 1
75
Invalid
month           12
day              0
year             0
Invalid    Invalid
Name: 75, dtype: object
{'day': 0, 'month': 12, 'year': 0}

Correct 1
76
Invalid
month           12
day              0
year          1900
Invalid    Invalid
Name: 76, dtype: object
{'day': 0, 'month': 12, 'year': 1900}

Correct 1
77
Invalid
month           12
day              0
year          2000
Invalid    Invalid
Name: 77, dtype: object
{'day': 0, 'month': 12, 'year': 2000}

Correct 1
78
Invalid
month           12
day              0
year          2015
Invalid    Invalid
Name: 78, dtype: object
{'day': 0, 'month': 12, 'year': 2015}

Correct 1
79
Invalid
month           12
day              0
year          2020
Invalid    Invalid
Name: 79, dtype: object
{'day': 0, 'month': 12, 'year': 2020}

Correct 1
80
Invalid
month           12
day              1
year             0
Invalid    Invalid
Name: 80, dtype: object
{'day': 1, 'month': 12, 'year': 0}

Correct 2
81
1900-11-30 00:00:00
month         12
day            1
year        1900
Invalid    Valid
Name: 81, dtype: object
{'day': 1, 'month': 12, 'year': 1900}

Correct 2
82
2000-11-30 00:00:00
month         12
day            1
year        2000
Invalid    Valid
Name: 82, dtype: object
{'day': 1, 'month': 12, 'year': 2000}

Correct 2
83
2015-11-30 00:00:00
month         12
day            1
year        2015
Invalid    Valid
Name: 83, dtype: object
{'day': 1, 'month': 12, 'year': 2015}

Correct 1
84
Invalid
month           12
day              1
year          2020
Invalid    Invalid
Name: 84, dtype: object
{'day': 1, 'month': 12, 'year': 2020}

Correct 1
85
Invalid
month           12
day             15
year             0
Invalid    Invalid
Name: 85, dtype: object
{'day': 15, 'month': 12, 'year': 0}

Correct 2
86
1900-12-14 00:00:00
month         12
day           15
year        1900
Invalid    Valid
Name: 86, dtype: object
{'day': 15, 'month': 12, 'year': 1900}

Correct 2
87
2000-12-14 00:00:00
month         12
day           15
year        2000
Invalid    Valid
Name: 87, dtype: object
{'day': 15, 'month': 12, 'year': 2000}

Correct 2
88
2015-12-14 00:00:00
month         12
day           15
year        2015
Invalid    Valid
Name: 88, dtype: object
{'day': 15, 'month': 12, 'year': 2015}

Correct 1
89
Invalid
month           12
day             15
year          2020
Invalid    Invalid
Name: 89, dtype: object
{'day': 15, 'month': 12, 'year': 2020}

Correct 1
90
Invalid
month           12
day             31
year             0
Invalid    Invalid
Name: 90, dtype: object
{'day': 31, 'month': 12, 'year': 0}

Correct 2
91
1900-12-30 00:00:00
month         12
day           31
year        1900
Invalid    Valid
Name: 91, dtype: object
{'day': 31, 'month': 12, 'year': 1900}

Correct 2
92
2000-12-30 00:00:00
month         12
day           31
year        2000
Invalid    Valid
Name: 92, dtype: object
{'day': 31, 'month': 12, 'year': 2000}

Correct 2
93
2015-12-30 00:00:00
month         12
day           31
year        2015
Invalid    Valid
Name: 93, dtype: object
{'day': 31, 'month': 12, 'year': 2015}

Correct 1
94
Invalid
month           12
day             31
year          2020
Invalid    Invalid
Name: 94, dtype: object
{'day': 31, 'month': 12, 'year': 2020}

Correct 1
95
Invalid
month           12
day             32
year             0
Invalid    Invalid
Name: 95, dtype: object
{'day': 32, 'month': 12, 'year': 0}

Correct 1
96
Invalid
month           12
day             32
year          1900
Invalid    Invalid
Name: 96, dtype: object
{'day': 32, 'month': 12, 'year': 1900}

Correct 1
97
Invalid
month           12
day             32
year          2000
Invalid    Invalid
Name: 97, dtype: object
{'day': 32, 'month': 12, 'year': 2000}

Correct 1
98
Invalid
month           12
day             32
year          2015
Invalid    Invalid
Name: 98, dtype: object
{'day': 32, 'month': 12, 'year': 2015}

Correct 1
99
Invalid
month           12
day             32
year          2020
Invalid    Invalid
Name: 99, dtype: object
{'day': 32, 'month': 12, 'year': 2020}

Correct 1
100
Invalid
month           13
day              0
year             0
Invalid    Invalid
Name: 100, dtype: object
{'day': 0, 'month': 13, 'year': 0}

Correct 1
101
Invalid
month           13
day              0
year          1900
Invalid    Invalid
Name: 101, dtype: object
{'day': 0, 'month': 13, 'year': 1900}

Correct 1
102
Invalid
month           13
day              0
year          2000
Invalid    Invalid
Name: 102, dtype: object
{'day': 0, 'month': 13, 'year': 2000}

Correct 1
103
Invalid
month           13
day              0
year          2015
Invalid    Invalid
Name: 103, dtype: object
{'day': 0, 'month': 13, 'year': 2015}

Correct 1
104
Invalid
month           13
day              0
year          2020
Invalid    Invalid
Name: 104, dtype: object
{'day': 0, 'month': 13, 'year': 2020}

Correct 1
105
Invalid
month           13
day              1
year             0
Invalid    Invalid
Name: 105, dtype: object
{'day': 1, 'month': 13, 'year': 0}

Correct 1
106
Invalid
month           13
day              1
year          1900
Invalid    Invalid
Name: 106, dtype: object
{'day': 1, 'month': 13, 'year': 1900}

Correct 1
107
Invalid
month           13
day              1
year          2000
Invalid    Invalid
Name: 107, dtype: object
{'day': 1, 'month': 13, 'year': 2000}

Correct 1
108
Invalid
month           13
day              1
year          2015
Invalid    Invalid
Name: 108, dtype: object
{'day': 1, 'month': 13, 'year': 2015}

Correct 1
109
Invalid
month           13
day              1
year          2020
Invalid    Invalid
Name: 109, dtype: object
{'day': 1, 'month': 13, 'year': 2020}

Correct 1
110
Invalid
month           13
day             15
year             0
Invalid    Invalid
Name: 110, dtype: object
{'day': 15, 'month': 13, 'year': 0}

Correct 1
111
Invalid
month           13
day             15
year          1900
Invalid    Invalid
Name: 111, dtype: object
{'day': 15, 'month': 13, 'year': 1900}

Correct 1
112
Invalid
month           13
day             15
year          2000
Invalid    Invalid
Name: 112, dtype: object
{'day': 15, 'month': 13, 'year': 2000}

Correct 1
113
Invalid
month           13
day             15
year          2015
Invalid    Invalid
Name: 113, dtype: object
{'day': 15, 'month': 13, 'year': 2015}

Correct 1
114
Invalid
month           13
day             15
year          2020
Invalid    Invalid
Name: 114, dtype: object
{'day': 15, 'month': 13, 'year': 2020}

Correct 1
115
Invalid
month           13
day             31
year             0
Invalid    Invalid
Name: 115, dtype: object
{'day': 31, 'month': 13, 'year': 0}

Correct 1
116
Invalid
month           13
day             31
year          1900
Invalid    Invalid
Name: 116, dtype: object
{'day': 31, 'month': 13, 'year': 1900}

Correct 1
117
Invalid
month           13
day             31
year          2000
Invalid    Invalid
Name: 117, dtype: object
{'day': 31, 'month': 13, 'year': 2000}

Correct 1
118
Invalid
month           13
day             31
year          2015
Invalid    Invalid
Name: 118, dtype: object
{'day': 31, 'month': 13, 'year': 2015}

Correct 1
119
Invalid
month           13
day             31
year          2020
Invalid    Invalid
Name: 119, dtype: object
{'day': 31, 'month': 13, 'year': 2020}

Correct 1
120
Invalid
month           13
day             32
year             0
Invalid    Invalid
Name: 120, dtype: object
{'day': 32, 'month': 13, 'year': 0}

Correct 1
121
Invalid
month           13
day             32
year          1900
Invalid    Invalid
Name: 121, dtype: object
{'day': 32, 'month': 13, 'year': 1900}

Correct 1
122
Invalid
month           13
day             32
year          2000
Invalid    Invalid
Name: 122, dtype: object
{'day': 32, 'month': 13, 'year': 2000}

Correct 1
123
Invalid
month           13
day             32
year          2015
Invalid    Invalid
Name: 123, dtype: object
{'day': 32, 'month': 13, 'year': 2015}

Correct 1
124
Invalid
month           13
day             32
year          2020
Invalid    Invalid

([[103, 0], [0, 24]], 0)